@fontface {
	font-family: "Lora", serif;
	src: url("https://fonts.googleapis.com/css?family=Lora|Roboto|VT323");
}

html {
	height: 100%;
}

body {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #f7f7f7;
	/* background-image: url("https://i.imgur.com/fKKhzjR.jpg");

	background-repeat: no-repeat; */
	/* background-color: #8cb369; */
}

.wrap {
	margin: 20px;
	padding: 50px;
	/* border: 1px solid black; */
	color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.clock {
	padding: 10px;
	/* margin: 5px; */
	display: flex;
	justify-content: center;
}
.head {
	display: flex;

	justify-content: space-between;
}
.weather {
	color: #fd8024;
	margin: 5px;
	font-size: 2em;
}
.cal {
	/* border: 1px solid black; */
}
.video {
	margin: 5px;
	/* border: 1px solid black; */

	display: flex;
	justify-content: center;
}
