nav {
	color: #333333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	margin: 5px;
	border-top: 1px solid #fd8024;
	border-bottom: 1px solid #fd8024;
}

nav a {
	color: #333333;
	display: inline-block;
	font-size: 1.2em;
	text-decoration: none;
}

a.nav-link:hover {
	color: #fd8024;
}
